<div class="background" *ngIf="isLoading || false">
  <div class="loader">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>
