<ol>
    <li>Créer un interface article qui contiendra les prop
        <ul>
            <li>name : string</li>
            <li>quantity : number</li>
            <li>isChecked : boolean</li>
        </ul>
    </li>
    <li>Afficher tous les noms des produits en minuscule</li>
    <li>Si un produit a déjà été ajouté dans la liste incrémenter la quantité</li>
    <li>Ajouter un événement click sur les articles pour les cocher/décocher</li>
</ol>
<nb-card>
    <nb-card-body>
        <input nbInput
               status="primary"
               style="margin-right: 20px"
               [(ngModel)]="$input"
               type="text"
               (keyup)="onKeyUp($event)" >
        <button nbButton
                outline
                status="primary"
                [disabled]="$input == null || $input == ''"
                (click)="add()">Ajouter</button>
    </nb-card-body>
    
</nb-card>

<nb-card>
    <nb-list>
        <nb-list-item class="clickable" 
                      *ngFor="let item of $articles"
                      >
            <p class="clickable"
               (click)="checked(item)"
               [ngClass]="{'barre':item.isChecked}">
                {{item.quantity}} : {{ item.name }}
            </p>
            <button nbButton 
                    status="danger"
                    size="tiny"
                    (click)="openConfirmDialog(item)">
                <nb-icon icon="trash"></nb-icon>
            </button>
        </nb-list-item>
    </nb-list>
</nb-card>