<nb-card accent="danger">
  <nb-card-header>
      Confirmation
  </nb-card-header>
  <nb-card-body>
      Etes-vous sûr de vouloir supprimer cet article ?
  </nb-card-body>
  <nb-card-footer>
      <button nbButton (click)="yes()" class="mx-3">YES</button>
      <button nbButton (click)="no()">NO</button>
  </nb-card-footer>
</nb-card>
