<p>Contenu la propriété "MaVariable" : {{ MaVariable }}</p>
<div>
    <button nbButton 
            outline 
            status="info"
            [disabled]="$isStarted"
            (click)="start()">Start</button>
</div>
<div>
    <button nbButton 
            outline 
            status="warning"
            [disabled]="!$isStarted"
            (click)="stop()">Stop</button>
</div>
<div>
    <button nbButton 
            outline 
            status="danger"
            [disabled]="MaVariable == 0"
            (click)="reset()">Reset</button>
</div>