<p>City: {{ meteo?.name }}</p>
<p>Temp Max: {{ meteo?.main.temp_max }}°C</p>
<p>Temp Min: {{ meteo?.main.temp_min }}°C</p>
<img src="http://openweathermap.org/img/wn/{{ meteo?.weather[0].icon }}@2x.png" />
