<nb-card accent="info">
  <nb-card-header (click)="toggle()" class="clickable">
    <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body *ngIf="open">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis dolores beatae aut. Nostrum quae consequuntur, eaque voluptate ab aliquam, reprehenderit possimus voluptatum similique cumque ad! Beatae illo velit qui asperiores!
  </nb-card-body>
</nb-card>
