<nb-card accent="info">
  <nb-card-header>

  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-list>
        <nb-list-item *ngFor="let item of context?.data.results">
          {{item.name}} <a [routerLink]="['/ex3details', item.id]">Details</a>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-body>
</nb-card>
