<nb-card accent="info">
  <nb-card-header>
    Création d'un type
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="typeForm"
          (ngSubmit)="onSubmit(typeForm.value)" >
      <input formControlName="Name" nbInput type="text" />
      <button nbButton [disabled]="!typeForm.valid">Créer</button>
    </form>
  </nb-card-body>
</nb-card>
