<nb-card accent="info">
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>
      <p>La variable qui est affichée à côté est liée à un observable {{ observer | async }}</p>
  </nb-card-body>
</nb-card>
