<nb-card accent="info">
  <nb-card-header>
    {{context?.data.results[0].name}}
  </nb-card-header>
  <nb-card-body>
    <img src="{{hero?.thumbnail.path}}/portrait_xlarge.{{hero?.thumbnail.extension}}">
    <p>{{context?.data.results[0].description}}</p>
  </nb-card-body>
</nb-card>
