<nb-card accent="info">
  <nb-card-header>
    *ngFor
  </nb-card-header>
  <nb-card-body>
    <nb-card>
        <nb-list>
            <nb-list-item *ngFor="let item of items">
                {{item}}
            </nb-list-item>
        </nb-list>
    </nb-card>
  </nb-card-body>
</nb-card>
