<div class="container-fluid">
    <div class="row">
        <div class="card col-3 my-2" *ngFor="let item of products">
            <div class="card-body">
                <img src="assets/images/{{item.image}}" class="card-img-top">
                <div class="card-title">
                    {{ item.name | uppercase }}
                </div>
                <span [ngClass]="{ 'barre': item.discount != null }">{{ item.price }}€</span>
                <span class="text-danger" *ngIf="item.discount != null"> {{ item.price - (item.price * (item.discount || 0) / 100) | number: '0.2-2' }}€</span>
            </div>
        </div>
    </div>
</div>
